@media (max-width: 560px) { 
    header {
        
    }

    .all-items {

    }

    .nav-bar-icon {

    }


	
}

.timer {
    width: 100%;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.all-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 2%;
}

.nav-bar-icon {
    margin: 15%;
}

.nav-bar {
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.under-items {
    margin: auto;
    display: flex;
    margin-top: 2%;
    width: 60%;
}

.under-items  button {
    background-color: white;
    cursor: pointer;
    width: 100%;
    border-color: white;
    border-radius: 5px;
    margin: 1%;
    
}

.under-items  button :hover {
    
    cursor: pointer;
    
}

video {
    margin-top: 3%;
}

.logo-pimkie {
   /* width: 30%;*/
}
.logo-pimkie img {
    height: 75px;
}

.nav-section {
    width: 100%;
}

.nav-section nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

.inside-nav-section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.inside-nav-section img {
    width: 50%;

}

.promo-banniere img {
    width: 100%;
}

.search-bar {
    border: 1px solid #000;
    border-radius: 4px;
}

.cards-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 5%;
}

.cards-1 img {
    width: 95%;
}

.pimkiexme {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 5%;
}

.button-and-over {
    color: white;
    background-color: black;
    
    
}

.button-and-over :hover {
    background-color: white;
    color: black;
    cursor: pointer;
    
}

.more {
    text-align: center;
    font-size: small;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-top {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 5%;

}

.icon-footer-top {
    font-size: -webkit-xxx-large;
    

}
.footer-middle {
    display: flex;
    align-items: center;
    background-color: #000;
    width: 100%;
    color: white;
    justify-content: space-evenly;
    margin-top: 5%;
    /* margin-bottom: 5%; */
    padding-bottom: 2%;
}

.footer-bottom {
    display: flex;
    justify-content: center;

}



.inside-footer-bottom {
    width: 20%;
   
}
.inside-footer-bottom a {
    margin: 2%;
   
}
.need-help {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inspi{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-pimkie{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
