@media (max-width: 575.98px) { 
	
}


.all-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar {
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.under-items {
    display: flex;
    justify-content: space-around;
}

.logo-pimkie {
    width: 30%;
}
.logo-pimkie img {
    height: 75px;
}

.nav-section {
    width: 100%;
}

.nav-section nav {
    display: flex;
    flex-wrap: wrap;
}

.inside-nav-section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.inside-nav-section img {
    width: 50%;

}

.promo-banniere img {
    width: 100%;
}

.cards-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cards-1 img {
    
}

.pimkiexme {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.button-and-over {
    color: white;
    background-color: black;
    
    
}

.button-and-over :hover {
    background-color: white;
    color: black;
}

.more {
    text-align: center;
    font-size: small;
}